@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

	@font-face {
		font-family: 'miso regular';
		src: url('../css/fonts/miso/miso.eot');
		src: url('../css/fonts/miso/miso.eot?#iefix') format('embedded-opentype'),
			 url('../css/fonts/miso/miso.woff2') format('woff2'),
			 url('../css/fonts/miso/miso.woff') format('woff'),
			 url('../css/fonts/miso/miso.ttf') format('truetype'),
			 url('../css/fonts/miso/miso.svg#misoruregular') format('svg');
		font-weight: normal;
		font-style: normal;
	
	}

	@font-face {
		font-family: 'miso bold';
		src: url('../css/fonts/miso-bold/miso-bold.eot');
		src: url('../css/fonts/miso-bold/miso-bold.eot?#iefix') format('embedded-opentype'),
			 url('../css/fonts/miso-bold/miso-bold.woff2') format('woff2'),
			 url('../css/fonts/miso-bold/miso-bold.woff') format('woff'),
			 url('../css/fonts/miso-bold/miso-bold.ttf') format('truetype'),
			 url('../css/fonts/miso-bold/miso-bold.svg#misobold') format('svg');
		font-weight: normal;
		font-style: normal;
	
	}

:root {
--font-miso: 'miso regular', sans-serif;
--font-misobold: 'miso bold', sans-serif;
--font-lato: 'Lato', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body, html {
	min-height: 100%;
	width: 100%;
}

/* Main Styles */


body {
	font-family: var(--font-miso);
	background: #fdde7e;
}

.container {
	max-width: 1230px;
	min-width: 420px;
	width: 100%;
	padding: 50px 15px;
	margin: 0 auto;
}

.cups {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.cup {
	flex-basis: 360px;
	display: flex;
	flex-direction: column;
	margin: 0 15px 20px;
	padding: 40px 0;
	background: #fff;
	text-align: center;
	box-shadow: 0px 3px 12px -5px rgba(0, 0, 0, .2);
	transition: all .5s ease;
}

.cup:nth-child(2) {
	padding: 60px 0;
}

.cup:hover {
	transform: scale(1.05);
}
	
.cup__title {
	margin-bottom: 25px;
	color: #02995b;
	font-size: 50px;
	font-family: var(--font-misobold);
}

.cup:nth-child(2) .cup__title {
	margin-bottom: 45px;
}

.cup__body {
	padding: 40px 0 0;
}

.cup__subtitle {
 	 font-size: 37px;
	 color: #333333;
	 margin-bottom: 35px;
}

.cup__text {
	font-size: 25px;
    color: #414141;
    margin: 0px 90px 40px;
    font-family: var(--font-lato);
}


/* ANIMATION TEXT >:D */
/* BRONZE */
.cup:nth-child(1):hover .cup__subtitle span {
	font-weight: 700;
}
.cup:nth-child(1):hover .cup__subtitle	span:nth-child(6) {
		transition-delay: .5s;
		color: #ff7900; 
		text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(1):hover .cup__subtitle	span:nth-child(5) {
		transition-delay: .4s;
		color: #ff7900; 
		text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(1):hover .cup__subtitle   span:nth-child(4) {
	  transition-delay: .3s;
	  color: #ff7900; 
	  text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(1):hover .cup__subtitle  span:nth-child(3) {
	  transition-delay: .2s;
	  color: #ff7900; 
	  text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(1):hover .cup__subtitle   span:nth-child(2) {
	  transition-delay: .1s;
	  color: #ff7900; 
	  text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(1):hover .cup__subtitle   span:nth-child(1) {
	  transition-delay: 0s;
	  color: #ff7900; 
	  text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}

/* GOLD */
.cup:nth-child(2):hover .cup__subtitle span {
	font-weight: 700;
}
.cup:nth-child(2):hover .cup__subtitle   span:nth-child(4) {
	transition-delay: .3s;
	color: #ffca28; 
	text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(2):hover .cup__subtitle  span:nth-child(3) {
	transition-delay: .2s;
	color: #ffca28; 
	text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(2):hover .cup__subtitle   span:nth-child(2) {
	transition-delay: .1s;
	color: #ffca28; 
	text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(2):hover .cup__subtitle   span:nth-child(1) {
	transition-delay: 0s;
	color: #ffca28; 
	text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}


/* SILVER */
.cup:nth-child(3):hover .cup__subtitle span {
	font-weight: 700;
	color: #bdbdbd;
	text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(3):hover .cup__subtitle   span:nth-child(6) {
	transition-delay: .5s;
	color: #bdbdbd;
	text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(3):hover .cup__subtitle   span:nth-child(5) {
	transition-delay: .4s;
	color: #bdbdbd;
	text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(3):hover .cup__subtitle   span:nth-child(4) {
	transition-delay: .3s;
	color: #bdbdbd;
	text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(3):hover .cup__subtitle  span:nth-child(3) {
	transition-delay: .2s;
	color: #bdbdbd;
	text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(3):hover .cup__subtitle   span:nth-child(2) {
	transition-delay: .1s;
	color: #bdbdbd;
	text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}
.cup:nth-child(3):hover .cup__subtitle   span:nth-child(1) {
	transition-delay: 0s;
	color: #bdbdbd;
	text-shadow: 1px 1px 0px, 2px 2px 0px, 2px 2px 0px;
}

